@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-700;
  }
  
  body {
    @apply bg-gray-50 text-gray-900 antialiased transition-colors duration-200;
  }
  
  body.dark {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}